{% include 'header.html' %}

<header>
    <div class="header_background">
        <div class="header__container">
            <h1>Raymond Hoang</h1>
            <h6>Aspiring Software Engineer</h6>
        </div>
    </div>

</header>
<body>
    <section id="about_me">
        <div class="profile row">
            <div class="col-lg-6">
                <img class="skills-img" src="{{ url_for('static', filename='images/profile_128.png') }}">
            </div>
            <div class="col-lg-6">
                <h1>Hello.</h1>
                <p>I am Raymond Hoang, a second-year undergrad student at TMU pursing towards a BSc (Hons) in Computer Science. My current interests are web development and 3D computer graphics</p>
            </div>

        </div>

        <div>
            <a href="https://www.torontomu.ca/programs/undergraduate/computer-science/">
                <img class='school-img' src="{{ url_for('static', filename='images/ryerson.jpeg') }}">
            </a>
        </div>


    </section>

    <section id="skills">
        <div class="row">
            <div class="col-lg-6">
                <h1>Web development</h1>
                <img class="skills-img" src="{{ url_for('static', filename='images/coding.png') }}">
                <p class="skills-desc">Designed and developed multiple websites, using CSS and HTML for front-end development, and Flask for back-end development.</p>
            </div>
            <div class="col-lg-6">
                <h1>Database</h1>
                <img class="skills-img" src="{{ url_for('static', filename='images/database.png') }}">
                <p class="skills-desc">Developed applications with a SQLAlchemy database interaction and PostgresSQL as the relational database.</p>
            </div>
            <div class="col-lg-12">
                <h1>Python</h1>
                <img class="skills-img" src="{{ url_for('static', filename='images/python.png') }}">
                <p class="skills-desc">Ability to create a wide range of applications with python. E.g. Web automation, App GUIs, Websites, REST APIs, Web scraping, and experience working with APIs.</p>
            </div>
        </div>

    </section>

    <section id="contact_me">
        <div class="contacts">
            <h2>Feel free to contact me via email.</h2>
            <a class="btn btn-info" href="mailto:raymond.hoang1@hotmail.com" >Click here!</a>
        </div>

    </section>

{% include 'footer.html' %}